.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
} 
#navnav{
    justify-content: space-evenly;
       
} 
.logo{
    width: 80px;
    
}

#recent{
    margin-top: 100px;
    background-color: #f9ecdc;
    margin-bottom: 150px;
    /* box-sizing: inherit; */
}
.text{
    padding: 130px 100px 130px ;
}
#care{
    background-color: #fcfcfc;
    margin-top: 250px;

}
.textt{
    padding-bottom: 80px;
    line-height: 50px;
}
.for{
    padding-bottom: 30px;
}
.please{
    line-height: 50px;
}
@media (min-width:992px){
    .active{
        border-bottom: 4px solid green;
    }
}
@media (max-width:575px){
    html,body{
        overflow-x: hidden;
        position: relative;
        
    }
}
